
<div class="fb-common-wrapper">
    <div class='fb-edit-section-header'>Common question properties</div>
    <div class="fb-label-description">
        Variable
        <input type="text" data-rv-input="model.<%= Formbuilder.options.mappings.FIELD_CODE %>"  >
    </div>

    <div class='fb-edit-section-header'>General properties</div>


    <div class='fb-common-checkboxes'>
        <label>
            <input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.REQUIRED %>' />
            Required
        </label>
    </div>

      <div class='fb-common-checkboxes'>
        <label>
            <input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.HIDDEN %>' >
            Hidden
        </label>
    </div>
    <div class="clearfix"></div>
      <div class='fb-common-checkboxes'>
        <label>
            <input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.CONSENSUS %>' >
            Consensus
        </label>
    </div>
    <div class="clearfix"></div>
    <div class="fb-label-description">

        <input type='text' data-rv-checked='model.<%= Formbuilder.options.mappings.DEFAULT %>' >
        Default
    </div>
    <div class="clearfix"></div>
        <div class="fb-label-description">

            <input type="text" data-rv-input="model.<%= Formbuilder.options.mappings.CONDITION %>"  >
            Condition
        </div>
        <div class="clearfix"></div>
        <input type="text" data-rv-input="model.<%= Formbuilder.options.mappings.HELP %>"  >
        Help

    <div class='fb-edit-section-header'>Text properties</div>
    <div class="fb-label-description">
        Pattern
        <input type="text" data-rv-input="model.<%= Formbuilder.options.mappings.PATTERN %>"  >
    </div>
</div>









