<div class="fb-common-wrapper">
    <div class='fb-edit-section-header'>Common question properties</div>
    <div class="fb-label-description">
        Variable
        <input type="text" data-rv-input="model.<%= Formbuilder.options.mappings.FIELD_CODE %>">
    </div>

    <div class='fb-edit-section-header'>General properties</div>


    <div class="row">
        <div class="col-md-4">
            <div class='checkbox fb-common-checkboxes'>
                <label>
                    <input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.REQUIRED %>'/>
                    Required
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div class='checkbox fb-common-checkboxes'>
                <label>
                    <input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.HIDDEN %>'>
                    Hidden
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div class='checkbox fb-common-checkboxes'>
                <label>
                    <input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.CONSENSUS %>'>
                    Consensus
                </label>
            </div>
        </div>
    </div>


    <div class="clearfix"></div>
    <form class="form-horizontal">

        <div class="fb-label-description form-group">
            <label class="col-sm-2 control-label">Default</label>

            <div class="col-sm-10">
                <input class="form-control input-xs" type='text'
                       data-rv-checked='model.<%= Formbuilder.options.mappings.DEFAULT %>'>
            </div>
        </div>

        <div class="fb-label-description form-group">
            <label class="col-sm-2 control-label">Condition</label>

            <div class="col-sm-10">
                <input class="form-control input-xs" type="text"
                       data-rv-input="model.<%= Formbuilder.options.mappings.CONDITION %>">
            </div>
        </div>

        <div class="fb-label-description form-group">
            <label class="col-sm-2 control-label">Help</label>

            <div class="col-sm-10">
                <input class="form-control input-xs" type="text"
                       data-rv-input="model.<%= Formbuilder.options.mappings.HELP %>">
            </div>
        </div>
        <div class='fb-edit-section-header'>Text properties</div>

        <div class="fb-label-description form-group">
            <label class="col-sm-2 control-label">Pattern</label>

            <div class="col-sm-10">
                <input class="form-control input-xs" type="text"
                       data-rv-input="model.<%= Formbuilder.options.mappings.PATTERN %>">
            </div>
        </div>
    </form>
</div>









